# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
CardGame/.vs/CardGame/v14/.suo
CardGame/CardGame/obj/Debug/CardGame.pdb
CardGame/CardGame/obj/Debug/CardGame.csproj.GenerateResource.Cache
CardGame/CardGame/obj/Debug/CardGame.csproj.FileListAbsolute.txt
CardGame/CardGame/obj/Debug/CardGame.pdb
CardGame/CardGame/obj/Debug/CardGame.csproj.FileListAbsolute.txt
CardGame/CardGame/obj/Debug/DesignTimeResolveAssemblyReferences.cache
CardGame/.vs/CardGame/v14/.suo
CardGame/CardGame/bin/Debug/CardGame.exe
CardGame/CardGame/obj/Debug/CardGame.csproj.FileListAbsolute.txt
CardGame/CardGame/bin/Debug/CardGame.pdb
CardGame/CardGame/obj/Debug/CardGame.csproj.GenerateResource.Cache
CardGame/CardGame/obj/Debug/CardGame.csprojResolveAssemblyReference.cache
CardGame/CardGame/obj/Debug/CardGame.exe
CardGame/CardGame/obj/Debug/CardGame.pdb
CardGame/CardGame/obj/Debug/DesignTimeResolveAssemblyReferences.cache
CardGame/CardGame/bin/Debug/CardGame.pdb
CardGame/CardGame/obj/Debug/CardGame.csproj.GenerateResource.Cache
CardGame/CardGame/obj/Debug/CardGame.pdb
CardGame/CardGame/obj/Debug/CardGame.pdb
CardGame/CardGame/bin/Debug/CardGame.pdb
CardGame/CardGame/bin/Debug/CardGame.exe
CardGame/CardGame/obj/Debug/DesignTimeResolveAssemblyReferences.cache
CardGame/CardGame/bin/Debug/CardGame.exe
CardGame/CardGame/bin/Debug/CardGame.exe
CardGame/CardGame/bin/Debug/CardGame.exe
CardGame/CardGame/obj/Debug/CardGame.pdb
CardGame/CardGame/bin/Debug/CardGame.pdb
CardGame/CardGame/bin/Debug/CardGame.exe
*.Cache
CardGame/CardGame/obj/Debug/CardGame.csproj.GenerateResource.Cache
